body{
    background-color: #131313;
    color: white;
    padding: 0 15% 0 15% ;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
    body{
        padding: 0 5% 0 5% ;
    }

}
@media screen and (max-width: 768px) {
    body{
        padding: 0 2% 0 2% ;
    }
}
