.details-poster{
    width: 320px;
    height: 480px;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
    display: flex;
    flex-direction: row;

}
.genres-container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top : 10px;
    margin-bottom : 10px;
}
/*.genres-container h1{*/
/*    margin-bottom: 10px;*/

/*}*/
.genres{
   background-color: #e5e7eb;
    width: fit-content;
    padding: 8px;
    border-radius: 8px;
    font-size: 16px;
    margin-bottom: 10px;
    color: black;
    cursor: pointer;
    font-weight: bold;
    border: 1px solid #e5e7eb;
    margin-top: 10px;
    box-sizing: border-box;
    text-align: center;


}
.details{
    display: flex;
    gap: 30px;
    width: 95%;
    background-color: #16191d;
    padding: 30px;
    border-radius: 20px;
    margin-top: 30px;
    box-sizing: border-box;
}
.details-poster img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 15px;
    box-sizing: border-box;

}
.details-content{
    width: 720px;
}
.desc{
    margin-top: 30px;
    margin-bottom: 30px;
    color: white;
    font-size: 16px;
    line-height: 25px;
}
.date-info{
    display: flex;
    gap: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: white;
}
.datee{

    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 5px;
}
.icon{
    color: #5e66b0;
    font-size: 15px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: #16191d;
}
.about{
    color: white;
    font-size: 16px;
    line-height: 25px;
    display: flex;
    align-items: center;
    gap: 30px;


}
.about p:first-child{
    font-weight: bold;

    width: 100px;

}
@media screen and (max-width: 1024px) {
    .details{
        flex-direction: column;
        gap: 20px;
    }
    .details-poster{
        width: 100%;
        height: 400px;
    }
    .details-content{
        width: 100%;
    }
    .about{
        flex-direction: column;
        gap: 10px;
        align-items: flex-start;
        margin-top: 20px;
    }
   .date-info{
       flex-direction: column;
       align-items: flex-start;
       gap: 30px;
   }

}